@import 'bulma';

* {
  box-sizing: border-box;
}

.hero-container {
  width: 100%;
  padding: 20px;
}

.main-body {
  margin: 0px;
  max-width: 100%;

}

.contact-form {
  width: 400px;
  margin: 20px auto;

  h1.title {
    text-align: center;
  }
}

.contact-input {
  height: 30px;
  width: 100%;
  padding: 8px;
}

.logo-link:hover {
  text-decoration: none;
}

.contact-card {
  width: 700px;
  position: relative;


  .back-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .single-contact-info {
    list-style: none;
    margin-left: 40px;

  }
}

.phone-input[type="tel"] {
  border: 1px solid #ddd;
  padding: 4px 8px;
}
.phone-input[type="tel"]:focus {
  border: 1px solid #000;
}

.phone-input[type="submit"] {
  font-weight: bold;
  padding: 4px 8px;
  border:1px solid #000;
  background: #3b5998;
  color:#fff;
}
