@import 'bulma';

* {
  box-sizing: border-box;
}

.hero-container {
  width: 100%;
  padding: 20px;
}

.main-body {
  margin: 0px;
  max-width: 100%;

}

.contact-form {
  width: 400px;
  margin: 20px auto;

  h1.title {
    text-align: center;
  }
}

.contact-input {
  height: 30px;
  width: 100%;
  padding: 8px;
}

.logo-link {
  // text-decoration: none;
}
