<div class="contact-form">
  <h1 class="title">Add a New Contact</h1>

  <form name="new-contact" ng-submit="add.addContact(contact)">
    <p class="control">
      <h3>Full Name</h3>
      <input class="contact-input" name="name" type="text" placeholder="John Smith..."
             required ng-model="contact.name" />
    </p>
    <p class="control">
      <h3>Email</h3>
      <input class="contact-input" name="email" type="text" placeholder="username@website.com..."
             required ng-model="contact.email" />
    </p>
    <p class="control">
      <h3>Phone</h3>
      <input class="contact-input" name="phone" type="tel" placeholder="xxx-xxx-xxxx..."
             required ng-model="contact.phone" />
    </p>
    <p class="control">
      <h3>Location</h3>
      <input class="contact-input" name="location" type="text" placeholder="City, State..."
             required ng-model="contact.location" />
    </p>
    <br>
    <button class="button is-primary">Add Contact</button>
  </form>
</div>
