<div class="contact-form">
  <h1 class="title">Add a New Contact</h1>

  <form name="new-contact" ng-submit="add.addContact(contact)">
    <p class="control">
      <h3>Full Name</h3>
      <input class="contact-input" name="name" type="text" placeholder="First Last..."
             required ng-model="contact.name" />
    </p>
    <p class="control">
      <h3>Email</h3>
      <input class="contact-input" name="email" type="text" placeholder="username@website.com..."
             required ng-model="contact.email" />
    </p>
    <p class="control">
      <h3>Phone (format: xxx-xxx-xxxx )</h3>
      <input class="contact-input phone-input" name="phone" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" placeholder="123-456-7890..."
             required ng-model="contact.phone" />
    </p>
    <p class="control">
      <h3>Location</h3>
      <input class="contact-input" name="location" type="text" placeholder="City, State..."
             required ng-model="contact.location" />
    </p>
    <br>
    <button class="button is-primary">Add Contact</button>
  </form>
</div>
