<div class="layout-container">
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container hero-container">
          <h1 class="logo-link title">
            <a class="logo-link" href="/">Iron Yard Directory</a>
          </h1>
          <h2 class="subtitle">
            FEE September 2016
          </h2>
        <br>
        <nav>
          <a href="/" class="navlinks">Directory</a>
          <br>
          <a href="#/add" class="navlinks">Add Contact</a>
        </nav>
      </div>
    </div>
  </section>
  <div class="main-content" ui-view>

  </div>
</div>
