<div class="layout-container">
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container hero-container">
        <h1 class="title">
        Iron Yard Directory
        </h1>
        <h2 class="subtitle">
          FEE September 2016
        </h2>
        <nav>
          <a href="/" class="navlinks">Home</a>
          <br>
          <a href="#/add" class="navlinks">Add Contact</a>
        </nav>
      </div>
    </div>
  </section>
  <div class="main-content" ui-view>

  </div>
</div>
